
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/storage/*
/var/
/vendor/
/src/**/*Test*
###< symfony/framework-bundle ###

output.txt
output.*.txt
